<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder | titlecase }}</ion-title> <!-- Lo vamos a poner con la primera en mayúscula-->
    </ion-toolbar>
  </ion-header>

<!-- Formulario para añadir carreras  -->
 <ng-container *ngIf="folder === 'inicio'">
    <!-- <ion-button expand="block" (click)="abrirModalFormulario()" color="primary">
      Añadir carrera
    </ion-button> -->
 </ng-container>

<!-- Lista de carreras -->
<ion-grid>
  <ng-container *ngIf="folder === 'carreras'">
    <ion-row class="ion-justify-content-center">
      <ng-container *ngFor="let carrera of carreras; let i = index">
        <ion-col size="12" size-md="6">
          <ion-card color="primary">
            <ion-card-header>
              <ion-card-title>{{ carrera.titulo }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <app-carrera [carrera]="carrera"></app-carrera>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <!-- Cierre de fila cada 2 elementos -->
        <div class="w-100" *ngIf="(i + 1) % 2 === 0"></div>
      </ng-container>
    </ion-row>
    <!-- Aquí vamos a añadir el formulario modal (fuera del for) -->
    <ion-button expand="block" (click)="abrirModalFormulario()" color="warning">
      Añadir carrera
    </ion-button>
    <app-footer></app-footer>
  </ng-container>
</ion-grid>

</ion-content>

