<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-img src="../assets/icon/logo.webp"></ion-img>
          </ion-thumbnail>
            <ion-list-header>Traileros</ion-list-header>
            <!-- <ion-note>hi&#64;traileros.com</ion-note> -->
          </ion-item>


          @for (p of appPages; track p; let i = $index) {
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="p.url" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          @for (label of labels; track label) {
          <ion-item lines="none">
            <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
          }
        </ion-list>
      </ion-content>

      <div class="menu-bottom-content">
        <ion-card class="profile-card" routerLink="/folder/ajustes">
          <ion-card-content>
            <div class="profile-header">
              <ion-avatar>
                <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <div class="profile-info">
                <h2>Usuario Trail</h2>
                <p>Nivel Experto</p>
              </div>
            </div>
            
            <div class="profile-stats">
              <div class="stat">
                <span class="value">12</span>
                <span class="label">Carreras</span>
              </div>
              <div class="stat">
                <span class="value">450km</span>
                <span class="label">Distancia</span>
              </div>
            </div>

            <ion-button expand="block" fill="clear" size="small" color="primary">
              Ver perfil completo
            </ion-button>
          </ion-card-content>
        </ion-card>
      </div>
      

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>